/* Local html */
body{
    font-family: 'Arvo', serif;background-color: black;
    text-align: center;
    margin: 0;
    height: 100%;
}
input{
    background-color: transparent;
    border-top:none ;
    border-left: none;
    border-right: none;
    border-bottom: white solid 2px;
    color: white;
    padding-right: 20rem;
    width: 5rem;
}


 h1{
        font-size: 0.6rem;
        color: grey;
       text-align: center;

    }
    .Body-float{
        text-align: left;
        padding-left: 0.7rem;
         color: white;
         
    }
    .About-header{
       
        font-size: 1.7rem;
        font-weight: bold;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        font-family: 'Gayathri', sans-serif;
    }


.about-paragraph{
    font-family: 'Gayathri', sans-serif;
}


    .card-price{
        background-color:white;
        display: inline-block;
       border-radius: 10%;
       padding-left: 0.5rem;
       padding-right: 0.5rem;
       
       
    }
    .card-price1{
        background-color:white;
        display: inline-block;
       border-radius: 10%;
       padding-left: 1rem;
       padding-right: 1rem;
       
       
    }
  
    .c-p{
        padding-top: 20px;
    }
    

    /* Contact-Page */
    .btn-submit{
        margin-top: 1rem;
    }
  .submission-form{
      max-width: 500px;
      margin: 2rem auto;

      border-radius: 5%;
      padding: 2rem;
  }
  .form-input{

display: inline-block;
text-align: center;
 display: block;
  }

 .btn-submit a{
     color:white
     
 }
  label{
      
      color: white;
      text-align: left;
     display: block;
     font-family: 'Comfortaa';
     padding-right: 5rem;
     padding-top: 1rem;
  }
.input{
    border: none;
    background-color: black;
  
}
  .label-input {
      padding-top:0.5rem ;
      text-align: left;
  }
  .BMW-S-L{
      height:250px;
      width: 200px;
      
      
      padding-left: 1rem;
  }
  .About-paragraph{
    padding-right: 6rem;
  }
  .col-col{
      padding-left: 4rem;
      padding-right: 4rem;
  }
  .row{
      padding-top:2rem ;
  }
     

  

   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* Navigator section */
    
    .nav-link{
        color: white;
        font-family: "Archivo";
    }
    .nav-item{
        color: white;
    }
    .nav-horizontal{
        background-color: blue;
    }
    .Logo{
        height: 80px;
        width: 80px;
    }
    
    
    .btn a{
        color:yellow;
        text-decoration:none;
    }
    
    
    
    
    
    
    
    
    /* Slider section */
    .slider-section{
        padding-top: 30px;
        text-align: center;
        padding-bottom: 1rem;
        
        
    }
    
    .middle-logo{
        
        height: 25%;
        width: 25%;
    } 
    
    
    
.container-fluid-about{
padding-bottom: 60px;

}
    
    
    .conteiner-fluid{
        text-align: center;
        margin: auto auto auto auto;
      position: static;
  
    }
    
    .btn-cont{
        display: inline-block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 3rem;
    }
    
    
    
    
    
    
    
    
       
        
  
    
    .col-col{
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 5rem;
    }
       



  









    /* Footer */
footer{
height: 70px;
width:100%;
background-color:black;
position: fixed;
bottom: 0;
padding-top: 2rem;
font-family: 'Montserrat';
padding-bottom: 2rem;
    
}
.footer{
    color: white;
    /* position: absolute; */
    bottom: 0;
    height: 100px;
    background: black;
    width: 100%;
    font-family: 'Montserrat';
    

}
.footer-link{
    padding-top: 2rem;
    color:white;
    padding-right: 1rem;
    padding-left:1rem ;
    font-family: 'Montserrat';
    
    
  
} 
.footer-about{
    color: white;
    /* position: absolute; */
    bottom: 0;
    height: 60px;
    background:black;
    width: 100%;
    font-family: 'Montserrat';
}
.footer-link-a{
    padding-top: 2rem;
    color:white;
    padding-right: 1rem;
    padding-left:1rem ;
    padding-bottom: 1rem;
}

@media (min-width:761px){
    .footer,.footer-about{ position: fixed; 
            bottom: 0;
    
    }
    
}


@media (min-width:421px){
    .slider-section{
        padding-top:8rem;
    }
    
}